* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* color variables */
    --accent-color: #a67845;
    --primary-text-color: #ffffff;
    --secondary-text-color: #794800;
    --light-text-color: #fff;
    --primary-color: #fff;
    --secondary-color: #c79a63;
    --alpha-secondary-color: rgba(0, 118, 118, 0.2);
    --discount-color: #E71A1C;
    --card-hover-bg-color: #F9F9F9;
    --border-color: #f9f9f9;
    --box-shadow-color: var(--accent-color);
    --shadow: rgba(0, 0, 0, 0.05);
    --box-shadow: rgba(0, 0, 0, 0.25);
    --discount-banner-background-overlay: linear-gradient(rgba(0, 118, 118, 0.8), rgba(0, 118, 118, 0.8));
    --phone-app-shadow: #C7E1EB;
    --alpha-primary-color: rgba(255, 255, 255, 0.5);
    --rating-color: #FFA800;

    /* transition curves */
    --transition-curve: cubic-bezier(0.36, -0.21, 0.16, 1.97);
}


html {
    font-size: 16px;
}

body {
    font-family: "Lato", sans-serif;
    background-image: url('../assets/bg.jpg');
    background-size: cover;  /* make it cover the whole screen */
    background-repeat: no-repeat; /* avoid repeating */
    background-position: center center; /* keep image centered */
}

/* navbar*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    padding: 0 10vw;
    z-index: 9;
    background: var(--accent-color);    
}

.links-container {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-left: auto;
}

.links {
    color: var(--primary-text-color);
    text-decoration: none;
    text-transform: capitalize;
    padding: .2rem 1rem;
    font-weight: 900;
    transition: .2s;
}

.links:hover {
    color: var(--secondary-text-color);
   

}

.logo {
    height: 5rem;
    margin-left: -3rem;
}

main {
  display: flex;
  height: calc(150vh - 140px);
  overflow: hidden;
}

.sidebar {
  position: fixed;
  height:100%;
  width: 170px;
  padding: 100px;
  padding-left: 50px;
  border-right: 1px solid #834d0f;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.6);
}

.sidebar h3 {
  margin-bottom: 10px;
  font-size: 25px;
  color: #ffffff;
}

.sidebar ul {
  list-style: none;
  margin-bottom: 20px;
}

.sidebar ul li {
  padding: 8px 0;
  cursor: pointer;
  color: #ffffff;
}

.sidebar ul li:hover {
  color: var(--accent-color);
  font-weight: bold;
}

.content {
      flex: 1;
      margin-left: 180px;
      padding: 100px;
      color: rgb(255, 255, 255);
      overflow-y: auto;
    }

    .category {
      display: none;
    }

    .category.active {
      display: block;
    }

    .item{
      text-decoration: none;
      display: inline-block;
      color: inherit;
      width: 180px;
      margin: 25px;
      text-align: center;
    }

    .item img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
    }

    .item p {
      margin-top: 10px;
      font-weight: bold;
    }

    